{{define "body"}}
	<body>
		<div class="container">
			<h1>&#127821; Metadata Hub</h1>
			{{ template "nav" . }}
			<p>TODO: add general stats about the system, # of local records, (uni)marc records, etc.</p>
			{{ if .TSCount }}
				<h2>Some info about the data currently stored</h2>
				<ul>
					<li>Number of Target Services: {{ .TSCount }}</li>
					<li>Number of local records : {{ .ebksCount }}</li>
					<li>Number of records with Sudoc PPNumbers : {{ .ppnCount }}</li>
					<li>Number of Unimarc records : {{ .unimarcCount }}</li>
				</ul>
			{{ else }}
				<h2>This &#127821; is empty. Start by creating a Target Service, then upload a source file.</h2>
			{{ end }}<p></p>
		</div>
	</body>
{{end}}