{{define "body"}}
	<body>
		<div class="container">
			<h1>&#127821; Metadata Hub</h1>
			{{ template "nav" . }}
			<p>TODO: add general stats about the system, # of local records, (uni)marc records, etc.</p>
		</div>
	</body>
{{end}}