{{define "body"}}
	<body>
		<h1>&#127821; Hub de métadonnées</h1>
		{{ template "nav" . }}
		<h2>Upload a source file (xlm from sfx or csv from publisher)</h2>
		<form enctype="multipart/form-data" action="http://localhost:8080/upload" method="post">
			<fieldset>
				<legend>Target Service (package)</legend>
				<input type="radio" name="pack" value="cyberlibris"> <label for="cyberlibris">Cyberlibris</label>
				<input type="radio" name="pack" value="cairn_qsj"> <label for="cairn_qsj">Cairn - QSJ</label>
			</fieldset>
			<input type="file" name="uploadfile" />
			<input type="hidden" name="token" value="{{.}}"/>
			<input type="submit" value="upload" />
		</form>
	</body>
{{end}}