{{define "nav"}}
	<nav class="navbar navbar-default">
		<div class="container-fluID">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Target Services <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/packagenew">Package New</a></li>
						{{template "tslisting" .}}
					</ul>
				</li>
				<li><a href="/upload">Upload</a></li>
			</ul>

		      <form class="navbar-form navbar-right" action="/search" method="post">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" id="search_terms" name="search_terms" value="">
				</div>
				<button type="submit" id="send_button" class="btn btn-default" name="send" value="true">Search</button>
			</form>
		</div>
	</nav>
{{end}}