{{ define "packagesListingShort" }}
	<h2>Packages - short listing</h2>
	<ul>
		{{ range $key, $value := .packagesListing }}
			<li><a href="/{{value}}">{{ $value }}</a></li>
		{{ end}}
	</ul>
	

{{ end }}