{{define "body"}}
	<body>
		<h1>&#127821; Hub de métadonnées</h1>
		<h2>Package : {{ .myPackage }}</h2>
		<p>Contains {{ .myPackageEbooksCount }} ebooks</p>
		<ul>
			<li>info #1</li>
		</ul>
	</body>
{{end}}