{{define "body"}}
	<body>
		<div class="container">
			<h1>&#127821; Metadata Hub</h1>
			{{template "nav" .}}
			<h2>Package : {{ .myPackage }}</h2>
			<ul>
				<li>{{ .myPackageEbooksCount }} ebooks</li>
				<li>number of ebooks with Marc Records : {{ .myPackageRecordsUnimarcCount }} / {{ .myPackageEbooksCount }}</li>
				<li>number of ebooks with Pica Publication Numbers : {{ .myPackagePPNsCount }} / {{ .myPackageEbooksCount }}</li>
				<li>{{ if .myPackageCSVConf }}
						CSV Configuration : {{ .myPackageCSVConf }} 
						[<a href="/package/update/{{ .myPackage }}">Update</a>]
					{{ else }}
						<a href="/package/update/{{ .myPackage }}">Add CSV Configuration</a>
					{{ end }}
				</li>
				<li>
					{{ if .IsTSActive }}
						<a href="/package/toggleactive/{{ .myPackage }}"><span class="label label-success">Active</span></a>
					{{ else }}
						<a href="/package/toggleactive/{{ .myPackage }}"><span class="label label-danger">Inactive</span></a>
					{{ end }}
				</li>
			</ul>
			<p>
				<div class="btn-group" role="group" aria-label="unimarc button">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Unimarc (sudoc) <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="/sudoci2p-ts-new/{{ .myPackage }}">Get Sudoc PPNs</a></li>
						{{ if .myPackagePPNsCount }} 
							<li><a href="/sudocgetrecords/{{ .myPackage }}">Get Sudoc Unimarc Records</a></li>
							{{ if .myPackageRecordsUnimarcCount }} 
								<li><a href="/download/{{ .myPackage }}.zip">Download Unimarc Records</a></li>
							{{ end }}
						{{ end }}
					</ul>
				</div>				
			</p>


			{{ template "recordslist" . }}

			<div class="row">
				<div class="col-md-4 text-left">{{ if  .previous   }} <a href="/package/{{.myPackage}}/{{.previous}}">< Previous</a>{{ end }}</div>
				<div class="col-md-4"></div>
				<div class="col-md-4 text-right">{{ if .next  }} <a href="/package/{{.myPackage}}/{{.next}}">Next  ></a>{{ end }}</div>
			</div>
			<p>&nbsp;</p>
		</div>
	</body>
{{end}}