{{ define "recordslist" }}
	<div class="panel panel-default">
		<table class="table table-striped">
			<tr>
				<th>Title</th>
				<th>Authors</th>
				<th>Isbns</th>
				<th>PPN</th>
				<th>Unimarc Record</th>
				<th>see more</th>
			</tr>
			{{ range .myRecords }}
			<tr>
				<td>{{ .Title }}</td>
				<td>{{ range .Authors }} {{ . }}<br /> {{ end }}</td>
				<td>{{ range .Isbns }} {{ .Isbn }}<br /> {{ end }}</td>
				<td>{{ if .Ppns }} Y {{ else }} N {{ end }}</td>
				<td>{{ if .RecordUnimarc }} Y {{ else }} N {{ end }}</td>
				<td><a href="/ebook/{{ .ID.Hex }}">...</a></td>
			</tr>
			{{ end }}
		</table>
	</div>
{{ end }}