{{define "body"}}
	<body>
		<div class="container">

			<h1>&#127821; Metadata Hub</h1>

			{{ template "nav" . }}

			{{ if .Flashes }}
				{{ range .Flashes}}
					<div class="alert alert-info" role="alert">{{ . }}</div>
				{{ end }}
			{{ end }}

			<h2>Record #{{ .Record.ID.Hex }}</h2>

			<p>
				Created: {{ .formattedDateCreated }}
				{{ if .formattedDateUpdated }} / Updated: {{ .formattedDateUpdated }} {{ end }}
			</p>
			<p>
				{{ if .Record.Active }}
					<a href="/record/toggleactive/{{ .Record.ID.Hex }}"><span class="label label-success">Active</span></a>
				{{ else }}
					<a href="/record/toggleactive/{{ .Record.ID.Hex }}"><span class="label label-danger">Inactive</span></a>
				{{ end }}
				{{ if .Record.Acquired }}
					<a href="/record/toggleacquired/{{ .Record.ID.Hex }}"><span class="label label-info">Acquired</span></a>
				{{ else }}
					<a href="/record/toggleacquired/{{ .Record.ID.Hex }}"><span class="label label-info">Rented</span></a>
				{{ end}}
			</p>
			<p>
				<div class="btn-group" role="group" aria-label="unimarc button">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Marc <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="/sudocgetrecord/{{ .Record.ID.Hex }}">Get Sudoc Unimarc</a></li>
					</ul>
				</div>
				{{ if .Record.RecordUnimarc }}
					<div class="btn-group" role="group" aria-label="export button">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Export <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="/record/export/unimarc/{{ .Record.ID.Hex }}">Export Unimarc Record</a></li>
						</ul>
					</div>
				{{ end }}
				<a class="btn btn-danger" href="/record/delete/{{ .Record.ID.Hex }}" role="button">Delete</a>
			</p>
			<table class="table table-condensed table-hover">
				<tbody>
					<tr>
						<th scope="row">First Author</th>
						<td>{{ .Record.FirstAuthor }}</td>
					</tr>
					<tr>
						<th scope="row">Title</th>
						<td>{{ .Record.PublicationTitle }}</td>
					</tr>
					<tr>
						<th scope="row">Publisher</th>
						<td>{{ if .Record.PublisherName }} {{ .Record.PublisherName }} {{ else }} - {{ end }}</td>
					</tr>
					<tr>
						<th scope="row">Pub. Date</th>
						<td>{{ if .Record.DateMonographPublishedPrint }} {{ .Record.DateMonographPublishedPrint }} 
						{{ else if .Record.DateMonographPublishedOnline}} {{ .Record.DateMonographPublishedOnline }}
						{{ else }} - {{ end }}</td>
					</tr>
					<tr>
						<th scope="row">Edition</th>
						<td>{{ if .Record.MonographEdition }} {{ .Record.MonographEdition }} {{ else }} - {{ end }}</td>
					</tr>
					<tr>
						<th scope="row">Identifiers</th>
						<td>
							{{ range .Record.Identifiers }}
								{{ .Identifier }} 
								{{ if eq .IDType 0 }} (Online) {{ end }}
								{{ if eq .IDType 1 }} (Print) {{ end }}
								{{ if eq .IDType 2 }} (PPN) {{ end }}
								{{ if eq .IDType 3 }} (SFX) {{ end }}
								<br />
							{{ end }}
						</td>
					</tr>
					<tr>
						<th scope="row">Target Services</th>
						<td>
							{{ range .Record.TargetServices }}
								<a href="/ts/display/{{ .Name }}" alt="target service">{{ .DisplayName }}</a><br />
							{{ end }}							
						</td>
					</tr>
					<tr>
						<th scope="row">URL</th>
						<td>{{ if .Record.TitleURL }} <a href="{{ .Record.TitleURL }}">{{ .Record.TitleURL }}</a> {{ end }}</td>
					</tr>
					<tr>
						<th scope="row">Unimarc Record</th>
						<td>
							{{ if .Record.RecordUnimarc }}
								{{ .Record.RecordUnimarc}}<br />
							{{ else }}
							 	-
							{{ end}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
{{ end }}