{{define "body"}}
	<body>
		<div class="container">
			<h1>&#127821; Metadata Hub</h1>
			{{ template "nav" . }}
			<h2>Results for: {{ .searchterms }}</h2>
			{{ template "recordslist" . }}
		</div>
	</body>
{{end}}