{{define "body"}}
	<body>
		<div class="container">
			<h1>&#127821; Metadata Hub</h1>
			{{template "nav" .}}
			<h2>Isbn2PPN Report for {{ .myTS }}</h2>
			<p>{{ .i2pType }}</p>
			{{ if .sudoci2pError }}
				{{ .sudoci2pError }}
			{{ else }}
				<ul>
					<li>Number of records sent : {{ .RecordsCount }}</li>
					<li>Number of records receiving PPNs : {{ .getPPNResultCount }}</li>
				</ul>
			{{ end }}
		</div>
	</body>
{{end}}