{{define "body"}}
	<body>
		<div class="container">
			<h1>&#127821; Metadata Hub</h1>
			{{template "nav" .}}
			<h2>Sudoc get Unimarc records report for {{ .myPackage }}</h2>
			{{ if .sudocGetRecordsError }}
				{{ .sudocGetRecordsError }}
			{{ else }}
				<ul>
					<li>Number of local records sent : {{ .RecordsCount }}</li>
					<li>Number of unimarc records received : {{ .getRecordsResultCount }}</li>
				</ul>
			{{ end }}
		</div>
	</body>
{{end}}