{{define "body"}}
	<body>
		<div class="container">
			<h1>&#127821; Metadata Hub</h1>
			{{template "nav" .}}
			<h2>Package : {{ .TSDisplayName }}</h2>
			<!-- temporary messages: success, failure, etc. -->
			{{ if .Flashes }}
				<div class="alert alert-info" role="alert">
					{{ range .Flashes}}
						<p>{{ . }}</p>
					{{ end }}
				</div>
			{{ end }}

			<ul>
				<li>{{ .myTSRecordsCount }} local records</li>
				{{ if .myTSRecordsUnimarcCount }}
					<li>{{ .myTSRecordsUnimarcCount }} unimarc Records</li>
				{{ end }}
				<li>
					{{ if .IsTSActive }}
						<a href="/ts/toggleactive/{{ .myTS }}"><span class="label label-success">Active</span></a>
					{{ else }}
						<a href="/ts/toggleactive/{{ .myTS }}"><span class="label label-danger">Inactive</span></a>
					{{ end }}
				</li>
			</ul>
			<p>
				
				<div class="btn-group" role="group" aria-label="...">
					<a class="btn btn-danger" href="/ts/delete/{{ .myTS }}" role="button">Delete</a>
					{{ if gt .myTSRecordsCount 0 }}
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Marc
							<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="/sudocgetrecords/{{ .myTS }}">Get Sudoc Unimarc</a></li>
							</ul>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Export
							<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="/ts/export/kbart/{{ .myTS }}">KBart</a></li>
								{{ if .myTSRecordsUnimarcCount }} 
									<li><a href="/ts/export/unimarc/{{ .myTS }}">Unimarc Records</a></li>
								{{ end }}
							</ul>
						</div>
					{{ end }}
				</div>
			</p>

			{{ if gt .myTSRecordsCount 0 }}
				{{ template "recordslist" . }}

				<div class="row">
					<div class="col-md-4 text-left">{{ if  .previous   }} <a href="/ts/display/{{.myTS}}/{{.previous}}">< Previous</a>{{ end }}</div>
					<div class="col-md-4"></div>
					<div class="col-md-4 text-right">{{ if .next  }} <a href="/ts/display/{{.myTS}}/{{.next}}">Next  ></a>{{ end }}</div>
				</div>
				<p>&nbsp;</p>
			{{ end }}
		</div>
	</body>
{{end}}