{{define "body"}}
	<body>
		<div class="container">

			<h1>&#127821; Metadata Hub</h1>

			{{ template "nav" . }}

			<h2>Create a new Target Service</h2>

			{{ if .tsCreateErr }}
				<p class="bg-danger">{{ .tsCreateErr }}</p>
			{{ end }}

			<form class="form-horizontal" action="http://localhost:8080/packagenew" method="post">
				<div class="form-group">
					<label for="tsdisplayname" class="col-sm-2 control-label">Display name: </label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="tsdisplayname" placeholder="For inst. Springer Ebooks">
					</div>
				</div>
				<div class="form-group">
					<label for="tsname" class="col-sm-2 control-label">Unique name: </label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="tsname" placeholder="springer_ebooks">
					</div>
				</div>

				<div class="form-group">
					<label for="activate" class="col-sm-2 control-label">Activate: </label>
					<div class="col-sm-10">
						<label for="activated" class="radio-inline">
							<input type="radio" name="tsactive" id="activated" value="true" checked="checked">&nbsp;Yes
						</label>
						
						<label for="deactivated" class="radio-inline">
							<input type="radio" name="tsactive" id="deactivated" value="false">&nbsp;No
						</label>
					</div>
				</div>
				<div class="form-group">
					<label for="csvconf" class="col-sm-2 control-label">Csv conf.: </label>
					<div class="col-sm-10">
						<select class="form-control " name="1" id="1">
							<option value="" disabled selected>Col. #1</option>
							<option value="author">author</option>
							<option value="eisbn">e-isbn</option>
							<option value="edition">edition</option>
							<option value="isbn">isbn</option>
							<option value="lang">language</option>
							<option value="pubdate">publication date</option>
							<option value="publisher">publisher</option>
							<option value="title">title</option>
							<option value="url">url</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<select class="form-control " name="2" id="2">
							<option value="" disabled selected>Col. #2</option>						
							<option value="author">author</option>
							<option value="eisbn">e-isbn</option>
							<option value="edition">edition</option>
							<option value="isbn">isbn</option>
							<option value="lang">language</option>
							<option value="pubdate">publication date</option>
							<option value="publisher">publisher</option>
							<option value="title">title</option>
							<option value="url">url</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<select class="form-control " name="3" id="3">
							<option value="" disabled selected>Col. #3</option>						
							<option value="author">author</option>
							<option value="eisbn">e-isbn</option>
							<option value="edition">edition</option>
							<option value="isbn">isbn</option>
							<option value="lang">language</option>
							<option value="pubdate">publication date</option>
							<option value="publisher">publisher</option>
							<option value="title">title</option>
							<option value="url">url</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<select class="form-control " name="4" id="4">
							<option value="" disabled selected>Col. #4</option>						
							<option value="author">author</option>
							<option value="eisbn">e-isbn</option>
							<option value="edition">edition</option>
							<option value="isbn">isbn</option>
							<option value="lang">language</option>
							<option value="pubdate">publication date</option>
							<option value="publisher">publisher</option>
							<option value="title">title</option>
							<option value="url">url</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<select class="form-control " name="5" id="5">
							<option value="" disabled selected>Col. #5</option>						
							<option value="author">author</option>
							<option value="eisbn">e-isbn</option>
							<option value="edition">edition</option>
							<option value="isbn">isbn</option>
							<option value="lang">language</option>
							<option value="pubdate">publication date</option>
							<option value="publisher">publisher</option>
							<option value="title">title</option>
							<option value="url">url</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<select class="form-control " name="6" id="6">
							<option value="" disabled selected>Col. #6</option>						
							<option value="author">author</option>
							<option value="eisbn">e-isbn</option>
							<option value="edition">edition</option>
							<option value="isbn">isbn</option>
							<option value="lang">language</option>
							<option value="pubdate">publication date</option>
							<option value="publisher">publisher</option>
							<option value="title">title</option>
							<option value="url">url</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<select class="form-control " name="7" id="7">
							<option value="" disabled selected>Col. #7</option>						
							<option value="author">author</option>
							<option value="eisbn">e-isbn</option>
							<option value="edition">edition</option>
							<option value="isbn">isbn</option>
							<option value="lang">language</option>
							<option value="pubdate">publication date</option>
							<option value="publisher">publisher</option>
							<option value="title">title</option>
							<option value="url">url</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<select class="form-control " name="8" id="8">
							<option value="" disabled selected>Col. #8</option>						
							<option value="author">author</option>
							<option value="eisbn">e-isbn</option>
							<option value="edition">edition</option>
							<option value="isbn">isbn</option>
							<option value="lang">language</option>
							<option value="pubdate">publication date</option>
							<option value="publisher">publisher</option>
							<option value="title">title</option>
							<option value="url">url</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<select class="form-control " name="9" id="9">
							<option value="" disabled selected>Col. #9</option>						
							<option value="author">author</option>
							<option value="eisbn">e-isbn</option>
							<option value="edition">edition</option>
							<option value="isbn">isbn</option>
							<option value="lang">language</option>
							<option value="pubdate">publication date</option>
							<option value="publisher">publisher</option>
							<option value="title">title</option>
							<option value="url">url</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<select class="form-control " name="10" id="10">
							<option value="" disabled selected>Col. #10</option>						
							<option value="author">author</option>
							<option value="eisbn">e-isbn</option>
							<option value="edition">edition</option>
							<option value="isbn">isbn</option>
							<option value="lang">language</option>
							<option value="pubdate">publication date</option>
							<option value="publisher">publisher</option>
							<option value="title">title</option>
							<option value="url">url</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" value="Submit">Submit</button>
					</div>
				</div>
			</form>

		</div>
	</body>
{{end}}