{{define "head"}}
<html>
	<head>
		<meta charset="utf-8" /> 
		<title>🍍Hub de métadonnées!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
		
	</head>
{{end}}

{{define "body"}}
	<body>
		<h1>&#127821; Hub de métadonnées</h1>
		<h2>Upload Report {{ .myPackage }}</h2>
		<ul>
			<li>{{ .parsedLog }}</li>
			<li>{{ .saveCopyMssg }}</li>
			{{ if .rejectedLinesLog }}
			<li>{{ .rejectedLinesLog }}</li>
			{{ end }}
			<li>records created: {{ .createdCounter }}</li>
			<li>records updated: {{ .updatedCounter }}</li>
		</ul>
	</body>
{{end}}