{{define "body"}}
	<body>
		<div class="container">
			<h1>&#127821; Metadata Hub</h1>
			{{ template "nav" . }}
			<h2>Upload a source file</h2>
			{{ if .Flashes }}
				{{ range .Flashes}}
					<div class="alert alert-info" role="alert">{{ . }}</div>
				{{ end }}
			{{ end }}
				
			<form class="form-horizontal" enctype="multipart/form-data" action="/upload" method="post">

				<div class="form-group">
					<label for="filetype" class="col-sm-2 control-label">File type: </label>
					<div class="col-sm-10">
						<label for="kbart" class="radio-inline">
							<input type="radio" name="filetype" value="kbart">&nbsp;kbart
						</label>
						
						<label for="csv" class="radio-inline">
							<input type="radio" name="filetype" value="csv">&nbsp;publisher csv
						</label>

						<label for="sfxxml" class="radio-inline">
							<input type="radio" name="filetype" value="sfxxml">&nbsp;sfx xml
						</label>
					</div>
				</div>

				<div class="form-group">
					<label for="tsname" class="col-sm-2 control-label">Target Service (package): </label>
					<div class="col-sm-10">
						{{ range .TSListing }}
							<label for="{{ .TSName }}" class="radio-inline">
								<input type="radio" name="tsname" value="{{ .TSName }}">&nbsp;{{ .TSDisplayName }}
							</label>
						{{ end }}
					</div>
				</div>
				
				<div class="form-group">
					<label for="uploadfile" class="col-sm-2 control-label">File: </label>
					<div class="col-sm-10">
						<input type="file" name="uploadfile" />
						<input type="hidden" name="token" value="{{.}}"/>
					</div>
				</div>

				<div class="col-sm-10 col-sm-offset-2">
					<button type="submit" class="btn btn-default" value="upload" >Upload</button>
				</div>

			</form>
		</div>
	</body>
{{end}}