{{define "body"}}
	<body>

		{{ template "ws" .}}

		<div class="container">
			
		<div class="container">
			<h1>&#127821; Metadata Hub</h1>
			<h2>Upload a source file</h2>


			<div id="countfeedback"></div>
			<div id="processcomplete"></div>
	
			<form action="/wsform" method="post">
				
				<div class="form-group">
					<label for="filetype" class="col-sm-2 control-label">File type: </label>
					<div class="col-sm-10">
						<label for="kbart" class="radio-inline">
							<input type="radio" name="filetype" value="kbart">&nbsp;kbart
						</label>
						
						<label for="sfxxml" class="radio-inline">
							<input type="radio" name="filetype" value="sfxxml">&nbsp;sfx xml
						</label>
						
						<label for="csv" class="radio-inline" data-toggle="collapse" data-target="#collapseCsv" aria-expanded="false" aria-controls="collapseCsv">
							<input type="radio" name="filetype" value="publishercsv">&nbsp;publisher csv
						</label>

					</div>
				</div>
				<div class="collapse" id="collapseCsv">
					<div class="form-group">
						<label for="csvconf" class="col-sm-2 control-label">Csv conf.: </label>
						<div class="col-sm-10">
							<p><em>A publisher .csv must have at least a title and an isbn/e-isbn</em></p>
							<select class="form-control " name="csvcol1" id="1">
								<option value="" disabled selected>Col. #1</option>
								<option value="datefirstissueonline">Date First Issue Online</option>
								<option value="datelastissueonline">Date Last Issue Online</option>
								<option value="datemonographpublishedonline">Date Monograph Published Online</option>
								<option value="datemonographpublishedprint">Date Monograph Published Print</option>
								<option value="firstauthor">First Author</option>
								<option value="firsteditor">First Editor</option>
								<option value="identifierprint">Identifier Print</option>
								<option value="identifieronline">Identifier Online</option>
								<option value="monographedition">Monograph Edition</option>
								<option value="monographvolume">Monograph Volume</option>
								<option value="notes">Notes</option>
								<option value="numfirstissueonline">Num First Issue Online</option>
								<option value="numfirstvolonline">Num First Vol Online</option>
								<option value="numlastissueonline">Num Last Issue Online</option>
								<option value="numlastvolonline">Num Last Vol Online</option>
								<option value="publicationtitle">Publication Title</option>
								<option value="publishername">Publisher Name</option>
								<option value="titleurl">Title URL</option>
							</select>
						</div>
					</div>
				

				<div class="col-sm-10 col-sm-offset-2">
					<button type="submit" class="btn btn-default" value="upload">Upload</button>
				</div>

			</form>
		</div>
	</body>
{{end}}