{{define "ws"}}
	<script type="text/javascript">
		$( document ).ready(function() {
			console.log( "ready!" );
			var ws = new WebSocket("ws://localhost:8080/routinetest");

			ws.onmessage = function (evt) {
				var json = JSON.parse(evt.data);
				$( "#countfeedback" ).addClass( "alert alert-info" );
				document.getElementById("countfeedback").innerHTML = 
					"<p>Parsed " + json.CountDone + " records ...</p>" +
					"<ul>" +
						"<li>Discarded: " +json.CountDiscard+ "</li>"+
						"<li>Created: " +json.CountCreate+ "</li>"+
						"<li>Updated: " +json.CountUpdate+ "</li>"+
					"</ul>";
			};

			ws.onclose = function() {
				$( "#processcomplete" ).addClass( "alert alert-info" );
				document.getElementById("processcomplete").innerHTML = "<p>Process completed</p>";
				setTimeout(function() {window.location.replace("/")} , 2000)
			};
		});

		
	</script>
{{end}}